@model WebApp.ViewModels.StadiumArea.StadiumAreaCreateEditViewModel

<div class="form-group">
    <label asp-for="StadiumArea.Name" class="control-label"></label>
    <input asp-for="StadiumArea.Name" class="form-control" />
    <span asp-validation-for="StadiumArea.Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="StadiumArea.Since" class="control-label"></label>
    <input asp-for="StadiumArea.Since" class="form-control" />
    <span asp-validation-for="StadiumArea.Since" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="StadiumArea.Until" class="control-label"></label>
    <input asp-for="StadiumArea.Until" class="form-control" />
    <span asp-validation-for="StadiumArea.Until" class="text-danger"></span>
</div>