# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.icd0009-2020s.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\RiderProjects\Solution\icd0009-2020s\.idea\.idea.icd0009-2020s.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
