@{
    ViewData["Title"] = @Resources.Views.Shared._Layout.FootballAssociation;
}

<div class="text-center">
    <h1 class="display-4">@Resources.Common.Welcome</h1>
    <h1 class="display-4">@Resources.Common.HomeProjectDefence</h1>
    
</div>